.outer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid black;
    width: 100%;
}

.inner-grid{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid black;
    box-sizing: border-box;
}

.grid-item{
    background-color: rgb(88, 163, 126);
    padding: 20px;
    text-align: center;
}

/*2x2 grid*/
@media screen and (max-width: 960px){
    .outer-grid{
        grid-template-columns: repeat(2, 25%);
    }
}

/*4x1 grid*/
@media screen and (max-width: 640px){
    .outer-grid{
        grid-template-columns: repeat(1, 25%);
    }
}
